---
layout: default
title: "Jarvis的博客"
---
<h1 class="page-header">
  Jarvis的博客
</h1>
{% for post in paginator.posts %}
<h2>
  <a href="{{ post.url }}">
    {{ post.title }}
  </a> 
  <div class="post-date">
	<span class="glyphicon glyphicon-time"></span>
	{{ post.date | date_to_string }}
  </div>
</h2>
<hr>
{% if post.content contains '<!--break-->' %}
  <p>
  {{ post.content | split:'<!--break-->' | first }}<br\>... ...
  </p>
  <a class="button-link" href="{{ post.url }}" title="查看全文">查看全文</a>
{% else %}
  <p>
  {{ post.content }}
  </p>
{% endif %}
<hr>
{% endfor %}
<!-- Pager -->
<ul class="pager">
  {% if paginator.previous_page %} {% if paginator.previous_page == 1 %}
  <li class="previous">
    <a href="{{ site.url }}/">
      &larr; 上一页
    </a>
  </li>
  {% else %}
  <li class="previous">
    <a href="{{ site.url }}/page{{ paginator.previous_page }}">
      &larr; 上一页
    </a>
  </li>
  {% endif %} {% endif %} {% if paginator.next_page %}
  <li class="next">
    <a href="{{ site.url }}/page{{ paginator.next_page }}">
      下一页 &rarr;
    </a>
  </li>
  {% endif %}
</ul>