--- 
layout: default 
--- 
<!-- Blog Post -->
<!-- Title -->
<h2>
  {{ page.title }}
  <div class="post-date">
	<span class="glyphicon glyphicon-time"></span>
	{{ page.date | date_to_string }}
  </div>
</h2>
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享到：</a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone">QQ空间</a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina">新浪微博</a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq">腾讯微博</a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren">人人网</a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin">微信</a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{"bdSize":16},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<!-- Author -->
<hr>

{{ content }}
{% if page.original %}
<a href="{{ page.original }}" target="_blank">原文地址</a>
{% endif %}
<br/>
<br/>
<div style="margin-top:10px;margin-bottom:10px">
  {%if page.previous%}
  <span class="next">
    上篇：
    <a href="{{page.previous.url}}">
      {{page.previous.title}}
    </a>
  </span>
  {%endif%} 
  {%if page.next%}
  <span class="prev">
    下篇：
    <a href="{{page.next.url}}">
      {{page.next.title}}
    </a>
  </span>
  {%endif%}
</div>
<hr>
<!--高速版，加载速度快，使用前需测试页面的兼容性-->
<div id="SOHUCS"></div>
<script>
  /*(function(){
    var appid = 'cyrtXOWCO',
    conf = 'prod_8bbb60568c4e89df0365d6c3ca21dc2e';
    var doc = document,
    s = doc.createElement('script'),
    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
    s.type = 'text/javascript';
    s.charset = 'utf-8';
    s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
    h.insertBefore(s,h.firstChild);
    window.SCS_NO_IFRAME = true;
  })()*/
	document.getElementById('SOHUCS').setAttribute('sid',{{ page.sid }}); 
	 var category = typeof category != 'undefined' ? category :'';                 
	 var _config = {
		submit_no_jump:true,
		jumpUrl: 'http://pinglun.sohu.com/s[topicId].html',
		varName: {{ page.sid }}, 
		customSohu: true,
		cyanTitle : '我来说两句',
		pageSize: 3,
		hideHotNews: true
	};
	window.SCS_NO_IFRAME = true;
	
	(function(){
		var appid = "cyrtXOWCO";
		var conf= "prod_8bbb60568c4e89df0365d6c3ca21dc2e";
		var doc = document,
		s = doc.createElement('script'),
		h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
		s.type = 'text/javascript';
		s.charset = 'utf-8';
		s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
		h.insertBefore(s,h.firstChild);    
	})();
</script>        
