--- 
layout: default 
--- 
<!-- Blog Post -->
<!-- Title -->
<h2>
  {{ page.title }}
  <div class="post-date">
	<span class="glyphicon glyphicon-time"></span>
	{{ page.date | date_to_string }}
  </div>
</h2>
分享到：<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<!-- Author -->
<hr>

{{ content }}
<br/>
<div style="margin-top:10px;margin-bottom:10px">
  {%if page.previous%}
  <span class="next">
    上篇：
    <a href="{{page.previous.url}}">
      {{page.previous.title}}
    </a>
  </span>
  {%endif%} 
  {%if page.next%}
  <span class="prev">
    下篇：
    <a href="{{page.next.url}}">
      {{page.next.title}}
    </a>
  </span>
  {%endif%}
</div>
<hr>
